.Skill{
    
    position: relative;
    justify-content: center;
    align-items: center;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    flex-wrap: wrap;     
}

.Skill h1{
    font-size: 50px;
}

.Skill-container{
    position: relative;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    row-gap: 50px;
    flex-wrap: wrap;  
    /*border: 1px solid red; */  
        
}

.section-skill{
    
    position: relative;
    
    max-width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid red;*/   
}

.section-skill h2{
    font-size: 40px;
    transition: color 1s;
    text-align: center; 
}


.section-skill ul li{
    font-size: 1.5rem;
    color: rgb(106, 98, 98);
    margin: 1rem;
 
    transition: color 1s;
    text-align: center;
    display: flex; 
    list-style: none;
    align-items: center;
}


/*
.skill-imagen{
    border: 1px solid;
}
*/
.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tarjeta-icono {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px #a17a69;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-icono p{
    margin: 0;
    color: rgb(106, 98, 98);
    font-size: 24px;
}

.logo-skill {
    max-width: 400px;
    
    border-radius: 30% 30% 8% 8%;
    box-shadow: 0px 5px 15px 0px rgba(195, 192, 192, 0.75);
}

/*Dark mode*/

.mood .Skill h1{
    transition: color 1s;
    text-align: center;
    color: #788cc1;  
}

.mood .Skill h2{
    transition: color 1s;
    text-align: center;
    color: #788cc1;  
}

.mood .section-skill ul li{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
 
    transition: color 1s;
    text-align: center;
    display: flex; 
    list-style: none;   
}

.mood .tarjeta-icono{
    background-color: #788cc1;
}
.mood .tarjeta-icono p{
    color: #141a37;
}
/*Mobile Design*/

@media only screen and (width<720px) {
    .tarjeta-icono img{
        width: 20vw;
    }

    .tarjeta-icono p{
        font-size: 3.33vw;
    }
}
