.App {
  display: flex;
  flex-direction: column;

  /*max-height: 100vh;*/
  max-width: 100vw;
  justify-content: center;
  min-height: 100vh;

  /*border: 1px solid red;*/

}

.App-header{
  /*border: 1px solid blue;*/
  min-height: calc(100vh - 195px);
  
  
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

.margin-app{
  margin-left: 5%;
  margin-right: 5%;
}

.logo-web{
  font-size: calc(1.375rem + 1.5vw);
}

.logo-web:hover{
  font-size: calc(1.375rem + 1.5vw);
  animation-name: animacion-pop;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-name: animacion-pop;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  -moz-animation-name: animacion-pop;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: animacion-pop;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: animacion-pop;
  -o-animation-duration: 0.5s;
  -o-animation-iteration-count: 1;
}
/*Animations*/

@keyframes animacion-pop {
  0%{
    font-size: calc(1.375rem + 1.5vw);
  }
  50%{
    font-size: calc(1.375rem + 2vw);  
  }
  100%{
    font-size: calc(1.375rem + 1.5vw);
  }
}

@-moz-keyframes animacion-pop {
  0%{
    font-size: calc(1.375rem + 1.5vw);
  }
  50%{
    font-size: calc(1.375rem + 2vw); 
  }
  100%{
    font-size: calc(1.375rem + 1.5vw);
  }
}

@-webkit-keyframes animacion-pop {
  0%{
    font-size: calc(1.375rem + 1.5vw);
  }
  50%{
    font-size: calc(1.375rem + 2vw);   
  }
  100%{
    font-size: calc(1.375rem + 1.5vw);
  }
}

@-o-keyframes animacion-pop {
  0%{
    font-size: calc(1.375rem + 1.5vw);
  }
  50%{
    font-size: calc(1.375rem + 2vw);  
  }
  100%{
    font-size: calc(1.375rem + 1.5vw);
  }
}

/*

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/